@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-around;
    font-size: large;
    font-weight: 500;
    height: 100px;
    line-height: 20px;
    width: 100%;
    background-image: url(../assest/navbar_bg.png);
}

.logo .mindx-logo{
    background-size: cover;
    width: 150px;
    margin: 15px;
}

ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 40px;
} 
ul li a{
    text-decoration: none;
    color: black;
}
.navIcon{
    margin: 40px;
    letter-spacing: 8px;
}
.navIcon a{
    color: black;
}
.container{
    background-image: url(../assest/container_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container .banner img{
    background-size: cover;
    width: 100%;
}
.container .story{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.container .story .text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.story .text .text-text{
    display: flex;
    flex-direction: column;
}
.story img{
    width: 300px;
}
.container .ban_bet img{
    width: 100%;
    background-size: cover;
    background: no-repeat;
    background-position: 51% 81%;
}
.product{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    border: 2px dashed #95274E;
    border-radius: 10px;
    margin-top: -10%;
    position: relative;
    top: -20px;
    padding: 20px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://i.pinimg.com/564x/e5/71/d1/e571d1f15abb139196b78ed56c75ffb4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.product .cacSP span{
    font-size: 32px;
}
.product .product_row_row{
    display: flex;
    justify-content: space-between;
}
.product .product_row{
    justify-content: space-around;
    flex-direction: row-reverse;
    max-width: 25%;
    text-align: center;
}
.product .product_row img{
    width: 100%;
}
.order{
    display: flex;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-around;      
}
.order .orIn{
    display: flex;
    flex-direction: column;
}
.futher{
    justify-content: space-around;
}
.contIn{
    display: flex;
    flex-direction: column;
}
.futher{
    display: flex;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    padding: 30px;
}
.contIn p{
    font-size: 30px;
    font-weight: 600;
    color: #e41e26;
}
.contIn .line{
    border: 0.1px solid #2d343f;
}
.contIn li{
   list-style: none;
   padding: 5px;
   font-weight: 2px;
}
.fuIn p{
    font-size: 30px;
    font-weight: 2;
}
.fuIn .line{
    border: 0.1px solid #2d343f;
}
.fuIn li{
    list-style: none;
    padding: 5px;
    font-weight: 2px;
}
.fuIn a{
    text-decoration: none;
    color: #000;
}