@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-around;
    font-size: large;
    font-weight: 500;
    height: 100px;
    line-height: 20px;
    width: 100%;
    background-image: url(../assest/navbar_bg.png);
}

.logo .mindx-logo{
    background-size: cover;
    width: 150px;
    margin: 15px;
}

ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 40px;
} 
ul li a{
    text-decoration: none;
    color: black;
}
.navIcon{
    margin: 40px;
    letter-spacing: 8px;
}
.navIcon a{
    color: black;
}
.main{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.main .cart{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
.cart .no_order{
    margin-bottom: 20px;
    font-size: 14px;
}
.cart #btn{
    font-size: 17px;
    padding: 12px;
    border: none;
    background-color: #DD9933;
    color: #fff;
}
.futher{
    justify-content: space-around;
}
.contIn{
    display: flex;
    flex-direction: column;
}
.futher{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    padding: 30px;
}
.contIn p{
    font-size: 30px;
    font-weight: 600;
    color: #e41e26;
}
.contIn .line{
    border: 0.1px solid #2d343f;
}
.contIn li{
   list-style: none;
   padding: 5px;
   font-weight: 2px;
}
.fuIn p{
    font-size: 30px;
    font-weight: 2;
}
.fuIn .line{
    border: 0.1px solid #2d343f;
}
.fuIn li{
    list-style: none;
    padding: 5px;
    font-weight: 2px;
}
.fuIn a{
    text-decoration: none;
    color: #000;
}   